/* Welcome text */
.landingpage-welcome {
  padding: 18% 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1rem, 0.143rem + 4.286vw, 4rem); /*4 to 1*/
  font-weight: bold;
}
.text {
  font-size: clamp(0.6rem, 0.486rem + 0.571vw, 1rem); /* 1 to .6*/
}
.welcome-content a {
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: rgb(193, 42, 42);
  color: wheat;
  border-radius: 1rem;
}
.welcome-content a:hover {
  background-color: rgb(101, 125, 133);
  color: white;
  border-color: black;
}

/* What is uma */

.what-is-uma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10% 0;
}

/* Why is popular */
.landingpage-why {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  padding: 10% 0;
}

.why-uma-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.popular-cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 1em;
}
.why-popular-card {
  padding: 2rem;
  background-color: rgb(192, 202, 237);
  border: 2px solid black;
  border-radius: 1rem;
}
.why-popular-card .card-heading {
  font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
}
.why-popular-card p {
  font-size: clamp(0.7rem, 0.643rem + 0.286vw, 0.9rem);
}

/* Legal Page css */

.legal-container {
  padding: 10%;
}
.legal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legal-content h1 {
  font-size: clamp(1.25rem, 1.071rem + 0.893vw, 1.875rem);
}
.legal-content h2 {
  font-size: clamp(1rem, 0.143rem + 4.286vw, 4rem);
}

.legal-content p {
  font-size: clamp(0.6rem, 0.486rem + 0.571vw, 1rem);
}

.legal-content ul li {
  list-style: circle;
  margin-left: 1rem;
  font-size: clamp(0.688rem, 0.563rem + 0.625vw, 1.125rem);
}

/* Character Page Css */
.characters-main {
  padding-bottom: 3rem;
}

.character-page-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.character-page-intro p {
  padding: 1rem;
  background-color: rgb(217, 83, 83);
  color: white;
  border-radius: 1rem;
}

.character-page-cards {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 122, 211);
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 1rem;
  color: white;
}

.character-card img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid red;
  object-fit: cover;
}

.character-card a {
  padding: 0.2rem 1rem;
  background-color: rgb(220, 118, 118);
  color: white;
  border-radius: 1rem;
}

#characterSearch {
  width: 50%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 3px solid black;
  border-radius: 1rem;
  font-size: 0.4rem;
}
