/* Welcome text */
.landingpage-welcome {
  padding: 18% 0;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1rem, 0.143rem + 4.286vw, 4rem); /*4 to 1*/
  font-weight: bold;
}
.text {
  font-size: clamp(0.6rem, 0.486rem + 0.571vw, 1rem); /* 1 to .6*/
}
.welcome-content a {
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: rgb(193, 42, 42);
  color: wheat;
  border-radius: 1rem;
}
.welcome-content a:hover {
  background-color: rgb(101, 125, 133);
  color: white;
  border-color: black;
}

/* What is uma */

.what-is-uma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10% 0;
}

/* Why is popular */
.landingpage-why {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  padding: 10% 0;
}

.why-uma-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.popular-cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 1em;
}
.why-popular-card {
  padding: 2rem;
  background-color: rgb(192, 202, 237);
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.why-popular-card .card-heading {
  font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
}
.why-popular-card p {
  font-size: clamp(0.7rem, 0.643rem + 0.286vw, 0.9rem);
}

/* Legal Page css */

.legal-container {
  padding: 10%;
}
.legal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legal-content h1 {
  font-size: clamp(2rem, 1.714rem + 1.429vw, 3rem);
}
.legal-content h2 {
  font-size: clamp(1.2rem, 0.829rem + 1.857vw, 2.5rem);
}

.legal-content p {
  font-size: clamp(0.6rem, 0.486rem + 0.571vw, 1rem);
}

.legal-content ul li {
  list-style: circle;
  margin-left: 1rem;
  font-size: clamp(0.688rem, 0.563rem + 0.625vw, 1.125rem);
}

/* Character Page Css */
.characters-main {
  padding-bottom: 3rem;
}

.character-page-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.character-page-intro h2 {
  font-size: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
}

.character-page-intro p {
  padding: 1rem;
  background-color: rgb(217, 83, 83);
  color: white;
  border-radius: 1rem;
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
}

.character-page-cards {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 122, 211);
  gap: 0.5rem;
  padding: 1rem 0;
  border-radius: 1rem;
  color: white;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.character-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid red;
  object-fit: cover;
}
.character-card h3 {
  font-size: 1rem;
}

.character-card a {
  padding: 0.2rem 1rem;
  background-color: rgb(220, 118, 118);
  color: white;
  border-radius: 1rem;
}

#characterSearch {
  width: 50%;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border: 3px solid black;
  border-radius: 1rem;
  font-size: clamp(0.4rem, 0.229rem + 0.857vw, 1rem);
}

/*Card Animation*/
@keyframes appear {
  from {
    opacity: 0.5;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.character-card {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry cover 30%;
}

/* Race Css */
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  border: 2px solid #5d5fef;
  background-color: rgb(102, 97, 97);
  color: #dfdfe8;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
  font-size: clamp(0.4rem, 0.229rem + 0.857vw, 1rem);
}

/* Button color change */
.filter-button.active,
.filter-button:hover {
  background-color: #5d5fef;
  color: red;
}

.control {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#raceContainer {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  gap: 0.5rem;
}

.race-card {
  display: grid;
  grid-template-columns: minmax(80px, 200px) 2fr 1fr 1fr 0.2fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: clamp(0.33rem, 0.139rem + 0.957vw, 1rem);
  box-shadow: 3px rgba(117, 115, 115, 0.281);
  background: #a7d2d9;
  background: linear-gradient(
    327deg,
    rgba(167, 210, 217, 1) 19%,
    rgba(175, 175, 196, 1) 47%,
    rgba(170, 166, 227, 1) 76%
  );
}
.race-img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.race-name-date {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.G1,
.G2,
.G3 {
  padding: 0.2rem 0.5rem;
  background-color: rgb(58, 58, 219);
  color: white;
  border-radius: 0.4rem;
  text-align: center;
}
.G2 {
  background-color: rgb(224, 58, 56);
}
.G3 {
  background-color: rgb(181, 148, 48);
}

@media (max-width: 600px) {
  .race-img {
    width: 50px;
  }
  .race-card {
    grid-template-columns: auto 1fr 0.5fr 0.5fr 0.1fr;
    padding: 0.5rem 1rem;
  }
}

/* Guide Page Css */
.guide-intro-text {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.guide-grid-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2% 1%;
  gap: 1rem;
  margin-bottom: 3rem;
}
.guide-cards {
  background-color: red;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #c9d9a7;
  background: #c9d9a7;
  background: #c9d9a7;
  background: #c2db8a;
  background: #c2db8a;
  background: linear-gradient(
    152deg,
    rgba(194, 219, 138, 1) 20%,
    rgba(151, 209, 172, 1) 50%,
    rgba(227, 174, 95, 1) 81%
  );
}

.guide-intro-text {
  font-size: clamp(0.8rem, 0.686rem + 0.571vw, 1.2rem);
}

.guide-heading {
  font-size: clamp(1.3rem, 1.1rem + 1vw, 2rem);
  font-weight: bold;
}
.guide-text {
  font-size: clamp(0.7rem, 0.614rem + 0.429vw, 1rem);
}
.guide-card-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.guide-link {
  margin-top: auto;
  padding: 0.5rem 2rem;
  background-color: #7b7cd6;
  border-radius: 1rem;
  color: white;
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
}

/* Team Page Css */

.about-website {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-website h1 {
  font-size: clamp(1.2rem, 0.971rem + 1.143vw, 2rem);
}
.about-website p {
  font-size: clamp(0.6rem, 0.486rem + 0.571vw, 1rem);
}
.team-uma {
  text-align: center;
  padding: 5% 0;
}
.team-uma h2 {
  font-size: clamp(1rem, 0.5rem + 2.5vw, 2.75rem);
}
.team-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.team-card {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  padding: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #31308c;
  background: linear-gradient(
    207deg,
    rgba(49, 48, 140, 1) 0%,
    rgba(29, 29, 171, 1) 27%,
    rgba(95, 65, 190, 1) 68%,
    rgba(129, 63, 176, 1) 99%
  );
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.icon {
  width: 100%;
  max-width: 20px;
  height: auto;
}
.profile-img {
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 0.6rem;
}
.social {
  grid-row: 2;
  grid-column: 1;
}
.skills {
  grid-row: 2;
  grid-column: 2;
}

.social,
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 1rem;
}
.social a,
.social img,
.skills img {
  display: block;
}

.social a {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.info h2 {
  font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1rem);
  flex-grow: 1;
}

.info .role {
  padding: 0 1rem;
  width: auto;
  background-color: #021402;
  text-align: center;
  border-radius: 0.7rem;
  font-size: clamp(0.4rem, 0.395rem + 0.227vw, 0.6rem);
  border: 2px solid black;
}
.info .dev {
  background-color: rgb(31, 31, 223);
}
.info .data {
  background-color: rgb(41, 177, 73);
}
.info .test {
  background-color: rgb(223, 31, 31);
}
